@model SANA.Entities.ProductsCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductsCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FkIdCategoryNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIdCategoryNavigation.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIdProductsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIdProductsNavigation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
